<style>
    .img-error{
        width: 50%;
        height: auto;
        margin: auto;
    }
</style>
<div style="width: 100%; height: auto; display: flex; justify-content: space-around; align-items: center;">
    <img src="~/Content/img/404-error-not-found-page-lost-1024x788.png" class="img-error"/>
</div>

