@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation

<!DOCTYPE html>
<html>
<head>
    <title>@Html.Sitecore().Field("name page")</title>
    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    @Html.Sitecore().Placeholder("detail post")
    <div class="litscomment">
        @Html.Sitecore().Placeholder("list comment")
    </div>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnsub').click(function () {
                debugger;
                var name = $('#NameInput').val();
                var email = $('#EmailInput').val();
                var comment = $('#CommentInput').val();
                var idParent = $('#idParent').val();
                var obj = {
                    "name": name,
                    "email": email,
                    "comment": comment,
                    "idParent": idParent
                };

                $.ajax({
                    url: "TechBlog/API/UploadCmt",
                    contentType: 'application/json; charset=utf-8',
                    method: "Post",
                    data: JSON.stringify(obj),
                    dataType: "json",
                    success: function (result) {
                        if (result == true) {
                            alert("them comment thanh cong");
                            location.reload();
                            return true;
                        }
                        else {
                            alert("them comment that bai");
                            return false;
                        }
                    },
                    error: function (result) {
                        alert("Error");
                        return false;
                    }
                })
            })

            $("#voteBtn").click(function () {
                debugger;
                var Email = $("#email-vote-star").val();
                var number_star = $('input[name="number-star"]:checked').val();
                var idParent = $('#idParent').val();
                var objvote = {
                    "Email": Email,
                    "number_star": number_star,
                    "idParent": idParent
                }

                objvote = JSON.stringify(objvote);
                $.ajax({
                    url: "TechBlog/API/VoteStar",
                    method: "Post",
                    contentType: 'application/json; charset=utf-8',
                    data: objvote,
                    dataType: 'json',
                    success: function (result) {
                        if (result == true) {
                            alert("vote thanh cong");
                            location.reload();
                            return true;
                        }
                        else {
                            alert("vote that bai");
                            return false;
                        }
                    },
                    error: function () {
                        alert("Error");
                        return false;
                    }
                })
            })
        })
    </script>
</body>
</html>