<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="TechBlog.Site.PipeLine.HttpRequest.NotFoundResolver,TechBlog.Site" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>
    <settings>
      <setting name="PageNotFound" value="{206F6121-5741-4D92-AC6E-3B5FB325B12A}" />
    </settings>
  </sitecore>
</configuration>
